.form {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    /* grid-template-rows: repeat(auto, 20vh); */
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.form--input {
    border-radius: 5px;
    border: 1px solid hsl(255, 5%, 84%);
    margin-top: 10px;
    text-indent: 10px;
    font-size: 12px;
    height: 30px;
}

.form--button {
    grid-column: 1/-1;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.meme--image {
    max-width: 100%;
}

main {
    padding: 36px;
}